<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="article.css">
</head>

<body>

    <div class="noOverflow">

        <div class="sleepScreen">
            <time class="sleepScreenInfo">


            </time>

        </div>

        <%-body%>
    </div>


    <script>let should_sleep = "<%-sleepScreen%>";</script>
    <script src="choose_template.js"></script>
    <script src="errorFlash.js"></script>
    <script src="interactive_edit.js"></script>
    <script src="nav.js"></script>
    <script src="form_validation.js"></script>
    <script src="sleep_screen.js"></script>
</body>

</html>