<%layout("boiler")%>
    <%-include("nav")%>
        <main class=gradientBkg>
            <div class="template">
            </div>
            <div class="templateContainer">
                <div class="templates">
                    <form action="/create_post/new" method="POST" class="template1">
                        <div class="color1">

                        </div>
                        <div class="color2">

                        </div>
                        <div class="color3">

                        </div>
                        <div class="color4">

                        </div>
                        <div class="color5">

                        </div>
                    </form>
                    <form action="/create_post/new" method="POST" class="template2">

                    </form>
                    <form action="/create_post/new" method="POST" class="template3">
                        <div class=design2></div>
                        <div class="color6">

                        </div>
                        <div class="color2">

                        </div>
                        <div class="color3">

                        </div>
                        <div class="color4">

                        </div>
                        <div class="color5">

                        </div>

                    </form>

                    <form action="/create_post/new" method="POST" class="template5">
                        <div class=design4></div>
                        <div class="color6">

                        </div>
                        <div class="color2">

                        </div>
                        <div class="color3">

                        </div>
                        <div class="color4">

                        </div>
                        <div class="color5">

                        </div>

                    </form>
                </div>
            </div>
        </main>